*{font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    }

h2 {
    font-size: 25px;
    }

.hero {
    background-image: url(bukowski.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    }

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(34,34,34,0) 0%, rba(34,34,34,0.8) 100%);
    opacity: .6;
}
.hero .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero h1
.hero h2 {
margin: auto; 
color: #fff;
text-align: center;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.col { flex: 1 0 0%;
} 

/* From uiverse.io by @levxyca */
button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }